<header>
    <div>
        <h1 class="author"> Ravan</h1>
    </div>
    <div class="formContainer">
        <form action="/" method="post">
            <input  value="<%= latitude %>" type="text" name="latitude" >
            <input value="<%= longitude %>" type="text" name="longitude">
            <button class="glassButton">Submit</button>
        </form>
    </div>
</header>